---
import "../../src/input.css";
import Infobox from "../components/infobox.astro";
import Section from "../layout/section.astro";
import Tier from "../components/tier.astro";
import PaymentLayout from "../layout/paymentLayout.astro";
import Payment from "../components/payment.astro";
import Guide from "../components/guide.astro";
import Modal from "../components/modal.astro";
import Inputfield from "../components/inputfield.astro";
import Buybtn from "../components/buybtn.astro";
import Buyerror from "../components/buyerror.astro";
---

<html lang="en" class="scroll-smooth bg-black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>Sirius Store</title>
    <meta name="title" content="Sirius Store" />
    <meta name="description" content="Upgrade your experience by purchasing Sirius Pro or Essential at our Store." />
    <meta content="#2B2D31" name="theme-color" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://buy.sirius.menu/" />
    <meta property="og:site_name" content="Sirius" />
    <meta property="og:title" content="Sirius Store" />
    <meta property="og:description" content="Upgrade your experience by purchasing Sirius Pro or Essential at our Store." />
    <meta property="og:image" content="/assets/images/store.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://buy.sirius.menu/" />
    <meta property="twitter:title" content="Sirius Store" />
    <meta property="twitter:description" content="Upgrade your experience by purchasing Sirius Pro or Essential at our Store." />
    <meta property="twitter:image" content="/assets/images/store.png" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png?v=2" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png?v=2" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png?v=2" />
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest?v=2" />
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg?v=2" color="#000000" />
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico?v=2" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml?v=2" />
    <meta name="theme-color" content="#000000" />
  </head>
  <body>
    <Infobox />
    <form class="px-4 py-8 sm:mt-24 sm:w-full sm:px-10 lg:col-span-6 lg:mt-0">
      <div class="my-48 max-w-xl space-y-48 sm:mx-auto md:my-72 md:space-y-96 lg:my-96 lg:max-w-md">
        <Section id="tier" title="Tier." description="Which is best for you?">
          <Tier id="Pro" txt="WatchTower, Themes, and more." price="$13.99" x="10" y="-10" />
          <Tier id="Essential" txt="No Key System, Custom Script Prompts, and more." price="$6.99" x="300" y="60" />
        </Section>
        <Section id="payment" title="Payment." description="Which method suits you?">
          <PaymentLayout size="long">
            <Payment id="Stripe" description="Apple Pay, Google Pay, Card, iDeal" x="100" y="200" />
          </PaymentLayout>
          <PaymentLayout size="short">
            <Payment id="Crypto" x="50" y="200" />
            <Payment id="Robux" x="50" y="200" />
          </PaymentLayout>
          <Guide />
        </Section>

        <Section id="details" title="Details." description="Your information.">
          <Modal id="email">
            <h3 class="text-lg font-medium leading-6 text-white" id="modal-title">What is this?</h3>
            <div class="mt-2">
              <p class="text-neutral-400">This is the email you use to purchase Sirius. It is used to verify your purchase and send you a receipt.</p>
            </div>
          </Modal>
          <Modal id="discordid">
            <h3 class="text-lg font-medium leading-6 text-white" id="modal-title">What is this?</h3>
            <div class="my-2">
              <p class="text-neutral-400">This is a unique identifier for your discord account. It is used to link your Sirius purchase to your Discord account so you can use it right away!</p>
            </div>
            <h3 class="text-lg font-medium leading-6 text-white" id="modal-title">How do you find your Discord ID?</h3>
            <div class="mt-2">
              <p class="text-neutral-400">
                In order for you to see your Discord ID, you must have Developer Mode enabled.
                <br /> If you do not have Developer Mode enabled, follow these steps:
              </p>
              <ol class="mt-1 list-inside list-decimal text-neutral-500 md:ml-2">
                <li>Open User Settings</li>
                <li>Go to Advanced</li>
                <li>Enable Developer Mode</li>
              </ol>
              <p class="mt-2 text-neutral-400">Once you have Developer Mode enabled, follow these steps to find your Discord ID:</p>
              <ol class="mt-1 list-inside list-decimal text-neutral-500 md:ml-2">
                <li>Open User Settings</li>
                <li>Go to My Account</li>
                <li>Click on the three dots next to your username</li>
                <li>Click on Copy ID</li>
              </ol>
            </div>
            <p class="mt-4 text-sm text-red-500">It is very important that you fill this out correctly to avoid any issues and/or future hassles with your purchase.</p>
          </Modal>
          <Inputfield type="email" id="email" placeholder="Email" />
          <Inputfield type="text" id="discordid" placeholder="Discord ID" />
          <Buybtn />
          <Buyerror />
        </Section>
      </div>
    </form>
  </body>
</html>
