---
let { size } = Astro.props;

switch (size) {
  case "long":
    size = "grid-cols-1";
    break;

  case "short":
    size = "grid-cols-2";
    break;
  default:
    break;
}
---

<div class:list={[size, "relative mt-3 grid gap-3 text-left leading-6 tracking-tight"]}>
  <slot />
</div>
